include ../partials/header

article#article(data-title="admin")


section.admin-container
    div.admin-display
        div.admin-form
            h2 Admin Login
            input(type="text" placeholder="username" name="username")
            input(type="password" placeholder="password" name="password")
            button.admin-btn.primary-btn Submit

include ../partials/footer
