.about-intro-wrapper
  width: 100%
  height: 100vh

.about-intro-display
  width: 90%
  height: 100%
  max-width: 1400px
  margin: 0 auto
  padding-top: 100px

.about-intro-header
  width: 49%
  display: inline-block
  vertical-align: top

.about-banner-images
  width: 50%
  height: 100%
  display: inline-block

  img
    width: 100%
