.index-wrapper
  width: 100%
  height: 100vh
  background:
    image: url('http://img01.deviantart.net/05af/i/2005/283/4/f/1969_corvette_stingray_by_teicart.jpg')
    size: cover
    repeat: no-repeat
    position: center
  padding-top: 60px

.index-display
  width: 100%
  height: 100%

  h1
    color: $dark-text
    font-size: 50px
    padding: 30px 10px

@media(min-width: 1000px)

  .index-display
    h1
      font-size: 70px

.greeter-wrapper
  width: auto
  overflow: hidden

.greeter
  font-size: 60px
  font-weight: bold
  display: inline-block
  margin: 0 10px
  opacity: 0
  transform: translateY(70px)
  transition: $long-trans

  &.active-greeter
    opacity: 1
    transform: translateY(0)
