.membership-intro-wrapper
  width: 100%
  height: auto

.membership-intro-display
  width: 100%
  height: 100%
  padding-top: 60px

.membership-join-wrapper
  width: 100%
  height: auto
  min-height: 500px
  padding: 40px 0 0 0
  border-bottom: 1px solid $gold

@media(min-width: 769px)

  .membership-join-wrapper
    padding: 80px 0 0 0


.membership-header
  width: 100%
  height: 100%
  margin: 0 auto
  vertical-align: top
  text-align: center
  padding: 0 0 30px 0


  h2
    color: $dark-text
    font-size: 25px
    padding: 5px 0
    letter-spacing: 2px

  img
    width: 70%
    padding: 30px 0

@media(min-width: 769px)

  .membership-header
    width: 49%
    vertical-align: top
    display: inline-block

    h2

    img
      width: 50%
      padding: 30px 0

.membership-info
  width: 90%
  display: block
  margin: 0 auto
  padding: 0

  h2
    color: $dark-text
    padding: 5px 0

  ul
    padding: 15px 0
    padding-left: 20px

  li
    padding: 5px 0 5px 10px

  p
    color: $light-text-color
    font-size: 13px
    line-height: 30px

@media(min-width: 769px)

  .membership-info
    width: 45%
    display: inline-block
    border-left: 1px solid $gold
    padding-left: 30px


.member-button
  padding: 30px 0
  button
    width: 120px
    height: 40px
    color: $gold
    background: transparent
    border: 2px solid $gold
    transform: translateY(0)
    transition: $mid-trans
    &:hover
      color: #fff
      background: $gold
      transform: translateY(-3px)
