section.footer-wrapper
  div.footer-display
    ul
      li: a(href="#") FAQ
      li: a(href="http://www.ncrs.org/") NCRS
      li: a(href="#") TERMS & CONDITIONS
      li: a(href="#") README
    div.footer-copyright
      p Copyright © 2016 National Corvette Restorers Society. All Rights Reserved.

script(text="text/javascript" src="/js/jquery-3.0.0.min.js")
script(text="text/javascript" src="/js/functions.js")
