doctype html
html
  head
    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,700,300' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/main.css")
    title NCRS Florida Chapter
  body

    div.topbar-wrapper
      div.topbar-display
        div.topbar-brand
          h1 NCRS Florida Chapter
        div.menu-button
          span
          span
          span

    section.header-wrapper
      div.menu-close
        span
        span

      div.header-display
        div.header-brand
          img(src="http://northcentralncrs.com/wp-content/uploads/2013/01/ncrs_300.png")
          h1 NCRS
          h1  Florida Chapter

        div.header-links
          ul
            li: a(href="/").active-link Home
            li: a(href="/about") About
            //- li: a(href="/membership") Membership
            li: a(href="/contacts") Contacts
            li: a(href="/future-events") Future Events
            li: a(href="#") Past Events
