include ./partials/header

section.index-wrapper
  div.index-overlay
    div.index-display
      div.greeter-wrapper
        div.greeter Welcome to
        div.greeter NCRS
        div.greeter Florida
        div.greeter Chapter

section.about-wrapper
    div.about-display
      div.about-ncrs-wrapper
        div.about-title
          h2 National Corvette Restorers Society
        div.about-info
          p Formed in 1974, the National Corvette Restorers Society is a non-profit hobby group of 14,000 + families dedicated to the restoration, preservation, history and enjoyment of Corvettes made from the model years 1953 through 1982.
        div.about-join-button
          button: a(href="http://www.ncrs.org/shop/index.php?main_page=index&cPath=65_34") Join NCRS
      div.about-facebook-wrapper
        div.facebook-header
          h2 Find us on Facebook
          p Like our page to get lastest on events in your news feed. 
        div.facebook-link
          button: a(href="https://www.facebook.com/NCRSFlorida") Facebook




include ./partials/footer
