include ./partials/header

article#article(data-title="index")

section#index-wrapper
  div.index-carousel.active-slide(style="background: url('/imgs/gal_01.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;").active-slide
  div.index-carousel(style="background: url('/imgs/gal_02.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_03.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_04.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_05.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_03.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_06.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_08.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_03.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_09.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_10.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-carousel(style="background: url('/imgs/gal_11.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;")
  div.index-overlay
    div.index-display
      div.greeter-wrapper
        div.greeter-image
        div.greeter NCRS
        div.greeter Florida
        div.greeter Chapter

section.about-wrapper
    div.about-display
      div.gallery-text
        i(class="fa fa-quote-left" aria-hidden="true").qoute-one
        i(class="fa fa-quote-right" aria-hidden="true").qoute-two
        h3 Ever since Zora Arkus Duntov brought the first Corvettes to the shores of Daytona, the Sunshine State has become a second home for the marque, with two world renowned racetracks in Sebring and Daytona.
        div.border
      div.about-ncrs-wrapper
        div.about-title
          h2 National Corvette Restorers Society
        div.about-info
          p Formed in 1974, the National Corvette Restorers Society is a non-profit hobby group of 14,000 + families dedicated to the restoration, preservation, history and enjoyment of Corvettes made from the model years 1953 through 1999.
        div.about-join-button
          a(href="http://www.ncrs.org/shop/index.php?main_page=index&cPath=65_34") Join/Renewal NCRS
      div.about-facebook-wrapper
        div.facebook-header
          h2 NCRS Florida Chapter
          p Our Chapter is hosting a Spring Meet in May at Crystal River, a Fall Meet in November at Howey-In-The-Hills, and the Annual Winter Regional In January for almost 40 years now!!
        div.ncrsfl-link
          a(href="https://www.ncrs.org/forums/register/chapter-membership.php") Join/Renewal NCRSFL
      div.about-facebook-wrapper
        div.facebook-header
          h2 Find us on Facebook
          p Like our page to get lastest on events in your news feed. Like our page to get lastest on events in your news feed.
        div.facebook-link
          a(href="https://www.facebook.com/NCRSFlorida") Facebook

section.events-wrapper
  div.events-overlay
    div.events-display




include ./partials/footer
