* {
  padding: 0;
  margin: 0; }

body {
  font-family: Open Sans; }
  body.active-menu {
    overflow-y: hidden; }

.topbar-wrapper {
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  z-index: 10; }

.topbar-display {
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px; }

.topbar-brand {
  width: auto;
  height: 100%;
  display: table; }
  .topbar-brand h1 {
    color: #262626;
    font-size: 20px;
    font-family: "Abel";
    display: table-cell;
    letter-spacing: 2px;
    vertical-align: middle; }

.menu-button {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer; }
  .menu-button span {
    width: 20px;
    height: 2px;
    background: #535454;
    position: absolute;
    left: 3px; }
    .menu-button span:nth-of-type(1) {
      top: 4px; }
    .menu-button span:nth-of-type(2) {
      top: 10px; }
    .menu-button span:nth-of-type(3) {
      top: 16px; }

@media(min-width: 820px) {
  .topbar-wrapper {
    display: none; } }
.header-wrapper {
  width: 100%;
  height: 100vh;
  background: #fff;
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  right: 100%;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  z-index: 100; }
  .header-wrapper.active-menu {
    right: 0;
    box-shadow: 0 2px 8px rgba(41, 41, 41, 0.4); }

@media(min-width: 820px) {
  .header-wrapper {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0px 3px rgba(41, 41, 41, 0.1);
    position: fixed;
    right: 0; } }
.menu-close {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer; }
  .menu-close span {
    width: 22px;
    height: 2px;
    background: #d2a26c;
    position: absolute;
    left: 3px; }
    .menu-close span:nth-of-type(1) {
      top: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-close span:nth-of-type(2) {
      top: 10px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media(min-width: 820px) {
  .menu-close {
    display: none; } }
.header-display {
  width: calc(100% - 20px);
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px; }

.header-brand {
  width: 300px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 20px 0; }
  .header-brand h1 {
    color: #262626;
    font-size: 28px;
    font-family: "Abel";
    padding: 10px 0;
    letter-spacing: 2px; }
    .header-brand h1:first-of-type {
      display: none; }
  .header-brand img {
    width: 75%; }

@media(min-width: 820px) {
  .header-brand {
    width: auto;
    height: 100%;
    float: left;
    display: table;
    padding: 0; }
    .header-brand h1 {
      font-size: 26px;
      padding: 0 5px 0 3px;
      display: table-cell;
      vertical-align: middle; }
      .header-brand h1:first-of-type {
        display: table-cell; }
    .header-brand img {
      display: none; } }
.header-links {
  width: auto;
  height: auto; }
  .header-links ul {
    width: 250px;
    list-style: none;
    margin: 0 auto; }
  .header-links li {
    width: auto;
    line-height: 45px;
    opacity: 0;
    -webkit-transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2) 300ms;
    transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2) 300ms;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
    .header-links li.active-links {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .header-links a {
    color: #535454;
    font-size: 18px;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none; }

@media(min-width: 820px) {
  .header-links {
    width: auto;
    height: 100%;
    float: right;
    display: table; }
    .header-links ul {
      width: 100%;
      display: table-cell;
      vertical-align: middle; }
      .header-links ul:hover a {
        color: rgba(40, 26, 23, 0.4); }
    .header-links li {
      width: auto;
      display: inline-block;
      line-height: 30px;
      padding: 0;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      margin: 0 8px; }
      .header-links li:hover a {
        color: #535454; }
    .header-links a {
      color: #535454;
      font-size: 16px;
      font-weight: normal;
      position: relative;
      letter-spacing: 0;
      text-decoration: none; }
      .header-links a:after {
        content: "";
        display: block;
        border-bottom: 2px solid #d2a26c;
        width: 0;
        position: absolute;
        left: 0;
        -webkit-transition: all 350ms ease-in-out;
        transition: all 350ms ease-in-out; }
      .header-links a:hover {
        color: #535454; }
        .header-links a:hover:after {
          width: 40%; } }
.active-link:after {
  width: 40%; }

.footer-wrapper {
  width: 100%;
  height: 200px;
  background: #fff; }

.footer-display {
  width: 100%;
  height: 100%;
  text-align: center; }
  .footer-display ul {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px; }
  .footer-display li {
    width: auto;
    display: inline-block;
    margin: 0 5px; }
  .footer-display a {
    color: #535454;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.4px; }
    .footer-display a:hover {
      font-weight: bold; }

.footer-copyright {
  width: 95%;
  height: auto;
  margin: 0 auto; }
  .footer-copyright p {
    font-size: 12px;
    padding: 10px 0; }

#index-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
  background-attachment: initial; }

@media(min-width: 769px) {
  #index-wrapper {
    background-attachment: fixed; } }
.index-overlay {
  width: 100%;
  height: calc(100% - 100px);
  background: rgba(30, 30, 30, 0.3);
  padding-top: 100px; }

.index-display {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto; }

.greeter-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 40px 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.greeter-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/imgs/florida-outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.greeter {
  color: #e6e7e7;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: bold;
  display: block;
  text-shadow: 0 2px 5px #262626;
  margin: 5px 10px;
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out; }
  .greeter.active-greeter {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

@media(min-width: 500px) {
  .greeter {
    font-size: 80px;
    display: block; } }
@media(min-width: 769px) {
  .greeter {
    font-size: 100px; } }
.page-slide-button {
  width: 50px;
  height: 50px;
  text-shadow: 0 2px 5px #262626;
  position: absolute;
  bottom: 15vh;
  left: 7%;
  cursor: pointer; }
  .page-slide-button i {
    color: #e6e7e7;
    font-size: 60px;
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    position: absolute;
    left: 8px; }
    .page-slide-button i:nth-of-type(1) {
      font-size: 40px;
      top: 0px;
      left: 14px; }
    .page-slide-button i:nth-of-type(2) {
      top: 8px; }

@media(min-width: 820px) {
  .page-slide-button {
    left: 7%; }
    .page-slide-button:hover i:nth-of-type(1) {
      top: 16px; }
    .page-slide-button:hover i:nth-of-type(2) {
      top: 14px; }
    .page-slide-button i {
      font-size: 70px; }
      .page-slide-button i:nth-of-type(1) {
        left: 18px; } }
.about-wrapper {
  width: 100%;
  height: auto; }

.about-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 0 0; }

@media(min-width: 769px) {
  .about-display {
    padding: 20px 0 0 0;
    text-align: left; } }
.gallery-text {
  width: 90%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0 20px 0;
  opacity: 0;
  text-align: center;
  position: relative;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out; }
  .gallery-text.active-text {
    opacity: 1; }
  .gallery-text h3 {
    color: rgba(40, 26, 23, 0.6);
    font-size: 17px;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 0.4px;
    line-height: 40px;
    z-index: 10; }

.qoute-one {
  color: #fbfbfb;
  font-size: 100px;
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.qoute-two {
  color: #fbfbfb;
  font-size: 100px;
  padding: 10px 0;
  position: absolute;
  bottom: 20px;
  right: 0px;
  z-index: -1; }

@media(min-width: 769px) {
  .qoute-two {
    right: 30px; } }
.events-wrapper {
  width: 100%;
  height: 50vh;
  background-image: url("/imgs/index-page.jpg");
  background-size: cover;
  background-position: center; }

.events-display {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px; }

.clear {
  clear: both; }

.index-carousel {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
  background-attachment: initial;
  opacity: 0;
  z-index: -2; }

.active-slide {
  opacity: 1; }

.about-column-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 70px 0; }

.about-column-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 0 0; }

.about-col-container {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out; }

@media(min-width: 769px) {
  .about-col-container {
    width: 32%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0; } }
.about-col-header {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px; }
  .about-col-header h2 {
    color: #535454;
    font-size: 24px;
    font-family: "Abel"; }
  .about-col-header p {
    width: 90%;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    line-height: 30px;
    padding: 20px 0 0 0;
    letter-spacing: 0.5px;
    margin: 0 auto; }

.about-col-link {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0 0 0; }
  .about-col-link a {
    width: auto;
    height: 40px;
    color: #d2a26c;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    background: transparent;
    padding: 10px;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out; }
    .about-col-link a:hover {
      color: #fff;
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }

.active-text {
  opacity: 1; }

.membership-intro-wrapper {
  width: 100%;
  height: auto; }

.membership-intro-display {
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.membership-join-wrapper {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 40px 0 0 0; }

@media(min-width: 769px) {
  .membership-join-wrapper {
    padding: 80px 0 0 0; } }
.membership-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  padding: 0 0 30px 0;
  overflow: hidden; }
  .membership-header h2 {
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    padding: 5px 0;
    letter-spacing: 2px; }
  .membership-header img {
    width: 70%;
    padding: 30px 0; }

@media(min-width: 769px) {
  .membership-header {
    width: 49%;
    vertical-align: top;
    display: inline-block; }
    .membership-header h2:nth-of-type(2) {
      font-size: 35px; }
    .membership-header img {
      width: 50%;
      padding: 30px 0; } }
.membership-slide-container {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  opacity: 0;
  -webkit-transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2);
  transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2); }
  .membership-slide-container.active-member-slide {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }

.membership-info {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0; }
  .membership-info h2 {
    color: #535454;
    font-family: "Abel";
    padding: 5px 0;
    letter-spacing: 2px; }
  .membership-info ul {
    padding: 15px 0;
    padding-left: 20px; }
  .membership-info li {
    padding: 5px 0 5px 10px; }
  .membership-info p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    line-height: 30px; }

@media(min-width: 769px) {
  .membership-info {
    width: 45%;
    display: inline-block;
    border-left: 1px solid #d2a26c;
    padding-left: 30px; } }
.member-button {
  padding: 30px 0;
  text-align: center; }
  .member-button button {
    width: 120px;
    height: 40px;
    color: #d2a26c;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out; }
    .member-button button:hover {
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
      .member-button button:hover a {
        color: #fff; }
    .member-button button a {
      color: #d2a26c;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 10px;
      letter-spacing: 1px; }

@media(min-width: 769px) {
  .member-button {
    text-align: left; } }
.border {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #d2a26c; }

.contacts-intro-wrapper {
  width: 100%;
  height: auto; }

.contacts-intro-display {
  width: 98%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 60px; }
  .contacts-intro-display h2 {
    width: 80%;
    max-width: 769px;
    font-family: "Abel";
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #d2a26c;
    text-align: center; }
  .contacts-intro-display ul {
    list-style: none;
    padding-top: 30px; }
  .contacts-intro-display li {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 30px 0; }
    .contacts-intro-display li h3 {
      color: #535454;
      font-size: 14px;
      font-weight: normal;
      margin: 5px 0; }
      .contacts-intro-display li h3:nth-of-type(1) {
        font-weight: bold;
        font-size: 18px; }
    .contacts-intro-display li a {
      color: #d2a26c;
      text-decoration: none;
      -webkit-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out; }
      .contacts-intro-display li a:hover {
        color: #755b3d; }
  .contacts-intro-display figure {
    width: 50%;
    margin: 0 auto; }
    .contacts-intro-display figure img {
      width: 100%;
      box-shadow: 0px 2px 5px #535454; }

@media(min-width: 500px) {
  .contacts-intro-display h2 {
    font-size: 40px;
    padding: 30px 0; }
  .contacts-intro-display li {
    width: 50%; } }
@media(min-width: 1000px) {
  .contacts-intro-display li {
    width: 33.33%; } }
.about-intro-wrapper {
  width: 100%;
  height: 40vh;
  max-width: 1400px;
  min-height: 400px;
  padding-top: 62px;
  margin: 0 auto;
  background-image: url("/imgs/about-image.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 8; }

@media(min-width: 820px) {
  .about-intro-wrapper {
    height: 60vh; } }
.about-intro-display {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .about-intro-display h2 {
    color: #e6e7e7;
    font-size: 55px;
    font-family: "Abel";
    letter-spacing: 1px;
    font-weight: normal;
    text-shadow: 0 2px 5px #262626;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 107px);
    -webkit-transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2);
    transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2);
    -webkit-transform: translateY(150px);
    transform: translateY(150px); }
    .about-intro-display h2.active-greet {
      -webkit-transform: translateY(0);
      transform: translateY(0); }

@media(min-width: 820px) {
  .about-intro-display h2 {
    font-size: 70px;
    position: absolute;
    bottom: 50px;
    left: 80px; } }
.about-extended-wrapper {
  width: 100%;
  height: auto;
  position: relative; }

@media(min-width: 820px) {
  .about-extended-wrapper {
    width: 100%;
    height: auto;
    position: relative; } }
.about-extended-display {
  width: 95%;
  height: 100%;
  max-width: 1400px;
  padding-top: 30px;
  margin: 0 auto; }

@media(min-width: 820px) {
  .about-extended-display {
    width: 85%;
    padding-top: 50px; } }
.about-left-col {
  height: 100%;
  display: none;
  vertical-align: top;
  padding-top: 35px;
  position: fixed;
  top: 35%; }
  .about-left-col h3 {
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    letter-spacing: 2px; }
  .about-left-col ul {
    width: 80%;
    list-style: none;
    margin: 0 auto;
    padding-left: 25%;
    height: auto; }
  .about-left-col li {
    color: #535454;
    width: auto;
    padding: 5px 0;
    letter-spacing: 1px;
    cursor: pointer; }
    .about-left-col li:hover {
      font-weight: bold; }
    .about-left-col li.active-li {
      color: #d2a26c;
      font-weight: bold; }

@media(min-width: 820px) {
  .about-left-col {
    width: 35%;
    display: inline-block;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    opacity: 0;
    z-index: -1; }
    .about-left-col.active-left {
      z-index: initial;
      opacity: 1;
      -webkit-transition: all 450ms ease-in-out;
      transition: all 450ms ease-in-out; } }
.about-right-col {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 50px 0;
  position: relative;
  text-align: center; }
  .about-right-col:after {
    content: "";
    border-bottom: 1px solid #d2a26c;
    padding-top: 25px;
    position: absolute;
    width: 80%;
    left: 10%; }
  .about-right-col h2 {
    width: 95%;
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-right-col p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-right-col {
    width: 55%;
    height: auto;
    background: #fff;
    float: right;
    margin-right: 10%;
    text-align: center; } }
.about-right-restorer {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 35px 0;
  text-align: center; }
  .about-right-restorer h2 {
    width: 95%;
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-right-restorer h3 {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 25px 0;
    position: relative; }
    .about-right-restorer h3:after {
      content: "";
      display: block;
      border-bottom: 3px solid #d2a26c;
      width: 20px;
      padding-top: 15px;
      position: absolute;
      left: calc(50% - 10px); }
  .about-right-restorer p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-right-restorer {
    width: 55%;
    height: auto;
    background: #fff;
    float: right;
    margin-right: 10%;
    text-align: center; } }
.about-right-news {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 35px 0;
  text-align: center; }
  .about-right-news h2 {
    width: 95%;
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-right-news h3 {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 25px 0;
    position: relative; }
    .about-right-news h3:after {
      content: "";
      display: block;
      border-bottom: 3px solid #d2a26c;
      width: 20px;
      padding-top: 15px;
      position: absolute;
      left: calc(50% - 10px); }
  .about-right-news p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-right-news {
    width: 55%;
    height: auto;
    background: #fff;
    float: right;
    margin-right: 10%;
    text-align: center; } }
.about-right-judge {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 35px 0;
  text-align: center; }
  .about-right-judge h2 {
    width: 95%;
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-right-judge h3 {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 25px 0;
    position: relative; }
    .about-right-judge h3:after {
      content: "";
      display: block;
      border-bottom: 3px solid #d2a26c;
      width: 20px;
      padding-top: 15px;
      position: absolute;
      left: calc(50% - 10px); }
  .about-right-judge p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-right-judge {
    width: 55%;
    height: auto;
    background: #fff;
    float: right;
    margin-right: 10%;
    text-align: center; } }
.about-right-events {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 35px 0;
  text-align: center; }
  .about-right-events h2 {
    width: 95%;
    color: #535454;
    font-size: 28px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-right-events h3 {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 25px 0;
    position: relative; }
    .about-right-events h3:after {
      content: "";
      display: block;
      border-bottom: 3px solid #d2a26c;
      width: 20px;
      padding-top: 15px;
      position: absolute;
      left: calc(50% - 10px); }
  .about-right-events p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-right-events {
    width: 55%;
    height: auto;
    background: #fff;
    float: right;
    margin-right: 10%;
    text-align: center; } }
.future-intro-wrapper {
  width: 100%;
  height: auto; }

.future-intro-display {
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.future-wrapper {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 40px 0 0 0; }

@media(min-width: 769px) {
  .future-wrapper {
    padding: 80px 0 0 0; } }
.future-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  padding: 0 0 30px 0;
  overflow: hidden; }
  .future-header h2 {
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    padding: 5px 0;
    letter-spacing: 2px; }
  .future-header img {
    width: 70%;
    padding: 30px 0; }

@media(min-width: 769px) {
  .future-header {
    width: 48%;
    vertical-align: top;
    display: inline-block; }
    .future-header h2:nth-of-type(2) {
      font-size: 35px; }
    .future-header img {
      width: 50%;
      padding: 30px 0; } }
.future-slide-container {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  -webkit-transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2);
  transition: all 1000ms cubic-bezier(0.22, 0.61, 0.46, 1.2); }
  .future-slide-container.active-future-slide {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }

.future-info-wrapper {
  width: 95%;
  height: auto;
  min-height: 450px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden; }

@media(min-width: 769px) {
  .future-info-wrapper {
    width: 42%;
    display: inline-block;
    border-left: 1px solid #d2a26c;
    padding-left: 60px; } }
.hotel-info-container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 100%;
  z-index: 5;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out; }
  .hotel-info-container.active-hotel {
    left: 0; }

.hotel-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }
  .hotel-close i {
    color: #535454; }

.hotel-info-display {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-right: 10px; }
  .hotel-info-display h2 {
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    padding: 5px 0 5px 5px;
    letter-spacing: 2px; }
  .hotel-info-display h4 {
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0 5px 15px; }

.future-info-display {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 0; }
  .future-info-display a {
    width: auto;
    height: 40px;
    color: #d2a26c;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out; }
    .future-info-display a:hover {
      color: #fff;
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
  .future-info-display h2 {
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    padding: 5px 0 5px 5px;
    letter-spacing: 2px; }
  .future-info-display h3 {
    color: #535454;
    font-size: 20px;
    font-family: "Abel";
    letter-spacing: 2px;
    padding: 5px 0; }
  .future-info-display ul {
    padding: 5px 0;
    padding-left: 20px; }
  .future-info-display li {
    color: #535454;
    font-size: 20px;
    list-style: none;
    padding-left: 10px; }
  .future-info-display h4 {
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0 5px 15px; }

@media(min-width: 769px) {
  .future-info-display {
    width: 95%; } }
.hotel {
  max-height: 25px;
  overflow: hidden;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
  cursor: pointer; }
  .hotel h5 {
    color: #535454;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    padding: 5px 0 5px 15px; }
  .hotel h4 {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: normal;
    padding: 5px 0 5px 15px; }

.future-button {
  padding: 30px 0;
  text-align: center; }
  .future-button h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0 25px 0px;
    letter-spacing: 1px; }
  .future-button a {
    width: auto;
    height: 40px;
    color: #d2a26c;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out; }
    .future-button a:nth-of-type(2) {
      margin-left: 10px; }
    .future-button a:hover {
      color: #fff;
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }

@media(min-width: 769px) {
  .future-button {
    text-align: left; }
    .future-button h2 {
      padding: 20px 0 25px 5px; } }
.border {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #d2a26c; }

.event-gallery-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 60px; }

.event-gallery-display {
  width: 100%;
  height: 100%; }

.event-gallery-row {
  width: calc(100% * 3);
  height: 100%;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transform: translateX(-33.3%);
  transform: translateX(-33.3%); }

.event-gallery-col {
  width: 33.3%;
  height: 100%;
  display: inline-block; }

.thumbnail {
  width: 45%;
  margin: 20px 2%;
  overflow: hidden;
  display: inline-block; }
  .thumbnail img {
    width: 100%; }

@media(min-width: 820px) {
  .thumbnail {
    width: 30%;
    margin: 20px 1.66%; } }
