* {
  padding: 0;
  margin: 0; }

body {
  font-family: Open Sans; }

.topbar-wrapper {
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  z-index: 10; }

.topbar-display {
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px; }

.topbar-brand {
  width: auto;
  height: 100%;
  display: table; }
  .topbar-brand h1 {
    color: #262626;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle; }

.menu-button {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer; }
  .menu-button span {
    width: 20px;
    height: 2px;
    background: #262626;
    position: absolute;
    left: 3px; }
    .menu-button span:nth-of-type(1) {
      top: 4px; }
    .menu-button span:nth-of-type(2) {
      top: 10px; }
    .menu-button span:nth-of-type(3) {
      top: 16px; }

@media(min-width: 800px) {
  .topbar-wrapper {
    display: none; } }
.header-wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  right: 100%;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  z-index: 100; }
  .header-wrapper.active-menu {
    right: 0;
    box-shadow: 0 2px 8px rgba(41, 41, 41, 0.4); }

@media(min-width: 800px) {
  .header-wrapper {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0px 3px rgba(41, 41, 41, 0.1);
    position: fixed;
    right: 0; } }
.menu-close {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }
  .menu-close span {
    width: 22px;
    height: 2px;
    background: #d2a26c;
    position: absolute;
    left: 3px; }
    .menu-close span:nth-of-type(1) {
      top: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-close span:nth-of-type(2) {
      top: 10px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media(min-width: 800px) {
  .menu-close {
    display: none; } }
.header-display {
  width: calc(100% - 20px);
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px; }

.header-brand {
  width: 300px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 20px 0; }
  .header-brand h1 {
    color: #262626;
    font-size: 22px;
    letter-spacing: 2px; }
    .header-brand h1:first-of-type {
      display: none; }
  .header-brand img {
    width: 75%; }

@media(min-width: 800px) {
  .header-brand {
    width: auto;
    height: 100%;
    float: left;
    display: table;
    padding: 0; }
    .header-brand h1 {
      color: #262626;
      font-size: 22px;
      padding: 0 5px 0 3px;
      letter-spacing: 1px;
      display: table-cell;
      vertical-align: middle; }
      .header-brand h1:first-of-type {
        display: table-cell; }
    .header-brand img {
      display: none; } }
.header-links {
  width: auto;
  height: auto; }
  .header-links ul {
    width: 200px;
    list-style: none;
    margin-left: 20px; }
  .header-links li {
    width: auto;
    padding-left: 20px;
    line-height: 40px; }
  .header-links a {
    color: #262626;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none; }

@media(min-width: 800px) {
  .header-links {
    width: auto;
    height: 100%;
    float: right;
    display: table; }
    .header-links ul {
      width: 100%;
      display: table-cell;
      vertical-align: middle; }
      .header-links ul:hover a {
        color: rgba(40, 26, 23, 0.6); }
    .header-links li {
      width: auto;
      display: inline-block;
      line-height: 30px;
      padding: 0;
      margin: 0 8px; }
      .header-links li:hover a {
        color: #262626; }
    .header-links a {
      color: #262626;
      font-size: 15px;
      font-weight: normal;
      position: relative;
      letter-spacing: 0;
      text-decoration: none; }
      .header-links a:after {
        content: "";
        display: block;
        border-bottom: 2px solid #d2a26c;
        width: 0;
        position: absolute;
        left: 0;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; }
      .header-links a:hover {
        color: #262626; }
        .header-links a:hover:after {
          width: 40%; } }
.active-link:after {
  width: 40%; }

.footer-wrapper {
  width: 100%;
  height: 200px;
  background: #fff; }

.footer-display {
  width: 100%;
  height: 100%;
  text-align: center; }
  .footer-display ul {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px; }
  .footer-display li {
    width: auto;
    display: inline-block;
    margin: 0 5px; }
  .footer-display a {
    color: #262626;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.4px; }
    .footer-display a:hover {
      font-weight: bold; }

.footer-copyright {
  width: 95%;
  height: auto;
  margin: 0 auto; }
  .footer-copyright p {
    font-size: 12px;
    padding: 10px 0; }

.index-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("http://img01.deviantart.net/05af/i/2005/283/4/f/1969_corvette_stingray_by_teicart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: initial; }

@media(min-width: 769px) {
  .index-wrapper {
    background-attachment: fixed; } }
.index-overlay {
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.2); }

.index-display {
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.greeter-wrapper {
  width: auto;
  overflow: hidden;
  padding: 40px 0; }

@media(min-width: 769px) {}
.greeter {
  color: #262626;
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-shadow: 0 2px 5px #262626;
  margin: 5px 10px;
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease; }
  .greeter:nth-of-type(2) {
    color: #d2a26c; }
  .greeter:nth-of-type(3) {
    color: #d2a26c; }
  .greeter:nth-of-type(4) {
    color: #d2a26c; }
  .greeter.active-greeter {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

@media(min-width: 500px) {
  .greeter {
    font-size: 50px;
    display: block; } }
@media(min-width: 769px) {
  .greeter {
    font-size: 65px; } }
.about-wrapper {
  width: 100%;
  height: auto; }

.about-display {
  width: 90%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }

@media(min-width: 769px) {
  .about-display {
    padding: 60px 0;
    text-align: left; } }
.about-ncrs-wrapper {
  width: 100%; }

@media(min-width: 769px) {
  .about-ncrs-wrapper {
    width: 70%;
    display: inline-block; } }
.about-title {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px; }
  .about-title h2 {
    color: #262626;
    font-size: 22px; }

.about-info {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px; }
  .about-info p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 30px; }

.about-join-button button {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 2px solid #d2a26c;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease; }
  .about-join-button button:hover {
    background: #d2a26c;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
    .about-join-button button:hover a {
      color: #fff; }
  .about-join-button button a {
    color: #d2a26c;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 18px;
    letter-spacing: 1px; }

@media(min-width: 769px) {
  .about-title h2 {
    color: #262626;
    font-size: 24px; }

  .about-info p {
    font-size: 14px; }

  .about-join-button {
    padding-left: 18px; } }
.about-facebook-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 0; }

@media(min-width: 769px) {
  .about-facebook-wrapper {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0; } }
.facebook-header {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px; }
  .facebook-header h2 {
    color: #262626;
    font-size: 24px; }
  .facebook-header p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    line-height: 25px;
    padding: 20px 0 0 0; }

.facebook-link {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0 0 0; }
  .facebook-link button {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease; }
    .facebook-link button:hover {
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
      .facebook-link button:hover a {
        color: #fff; }
    .facebook-link button a {
      color: #d2a26c;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 18px;
      letter-spacing: 1px; }

.events-wrapper {
  width: 100%;
  height: 50vh;
  background-image: url("http://ineptechs.com/wp-content/uploads/2014/10/carshow-4.jpg");
  background-size: cover;
  background-position: center; }

.events-display {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px; }

.membership-intro-wrapper {
  width: 100%;
  height: auto; }

.membership-intro-display {
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.membership-join-wrapper {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 40px 0 0 0;
  border-bottom: 1px solid #d2a26c; }

@media(min-width: 769px) {
  .membership-join-wrapper {
    padding: 80px 0 0 0; } }
.membership-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  padding: 0 0 30px 0; }
  .membership-header h2 {
    color: #262626;
    font-size: 25px;
    padding: 5px 0;
    letter-spacing: 2px; }
  .membership-header img {
    width: 70%;
    padding: 30px 0; }

@media(min-width: 769px) {
  .membership-header {
    width: 49%;
    vertical-align: top;
    display: inline-block; }
    .membership-header img {
      width: 50%;
      padding: 30px 0; } }
.membership-info {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0; }
  .membership-info h2 {
    color: #262626;
    padding: 5px 0; }
  .membership-info ul {
    padding: 15px 0;
    padding-left: 20px; }
  .membership-info li {
    padding: 5px 0 5px 10px; }
  .membership-info p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 13px;
    line-height: 30px; }

@media(min-width: 769px) {
  .membership-info {
    width: 45%;
    display: inline-block;
    border-left: 1px solid #d2a26c;
    padding-left: 30px; } }
.member-button {
  padding: 30px 0; }
  .member-button button {
    width: 120px;
    height: 40px;
    color: #d2a26c;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease; }
    .member-button button:hover {
      color: #fff;
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
