* {
  padding: 0;
  margin: 0; }

body {
  font-family: Open Sans; }
  body.active-menu {
    overflow-y: hidden; }

.topbar-wrapper {
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  z-index: 10; }

.topbar-display {
  width: calc(100% - 20px);
  height: 100%;
  padding: 0 10px; }

.topbar-brand {
  width: auto;
  height: 100%;
  display: table; }
  .topbar-brand h1 {
    color: #262626;
    font-size: 20px;
    font-family: "Abel";
    display: table-cell;
    letter-spacing: 2px;
    vertical-align: middle; }

.menu-button {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer; }
  .menu-button span {
    width: 20px;
    height: 2px;
    background: #535454;
    position: absolute;
    left: 3px; }
    .menu-button span:nth-of-type(1) {
      top: 4px; }
    .menu-button span:nth-of-type(2) {
      top: 10px; }
    .menu-button span:nth-of-type(3) {
      top: 16px; }

@media(min-width: 820px) {
  .topbar-wrapper {
    display: none; } }
.header-wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(41, 41, 41, 0.08);
  position: fixed;
  right: 100%;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  z-index: 100; }
  .header-wrapper.active-menu {
    right: 0;
    box-shadow: 0 2px 8px rgba(41, 41, 41, 0.4); }

@media(min-width: 820px) {
  .header-wrapper {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0px 3px rgba(41, 41, 41, 0.1);
    position: fixed;
    right: 0; } }
.menu-close {
  width: 30px;
  height: 30px;
  display: initial;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer; }
  .menu-close span {
    width: 22px;
    height: 2px;
    background: #d2a26c;
    position: absolute;
    left: 3px; }
    .menu-close span:nth-of-type(1) {
      top: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-close span:nth-of-type(2) {
      top: 10px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media(min-width: 820px) {
  .menu-close {
    display: none; } }
.header-display {
  width: calc(100% - 20px);
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px; }

.header-brand {
  width: 300px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 20px 0; }
  .header-brand h1 {
    color: #262626;
    font-size: 28px;
    font-family: "Abel";
    padding: 10px 0;
    letter-spacing: 2px; }
    .header-brand h1:first-of-type {
      display: none; }
  .header-brand img {
    width: 75%; }

@media(min-width: 820px) {
  .header-brand {
    width: auto;
    height: 100%;
    float: left;
    display: table;
    padding: 0; }
    .header-brand h1 {
      font-size: 26px;
      padding: 0 5px 0 3px;
      display: table-cell;
      vertical-align: middle; }
      .header-brand h1:first-of-type {
        display: table-cell; }
    .header-brand img {
      display: none; } }
.header-links {
  width: auto;
  height: auto; }
  .header-links ul {
    width: 250px;
    list-style: none;
    margin: 0 auto; }
  .header-links li {
    width: auto;
    line-height: 45px; }
  .header-links a {
    color: #535454;
    font-size: 18px;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none; }

@media(min-width: 820px) {
  .header-links {
    width: auto;
    height: 100%;
    float: right;
    display: table; }
    .header-links ul {
      width: 100%;
      display: table-cell;
      vertical-align: middle; }
      .header-links ul:hover a {
        color: rgba(40, 26, 23, 0.4); }
    .header-links li {
      width: auto;
      display: inline-block;
      line-height: 30px;
      padding: 0;
      margin: 0 8px; }
      .header-links li:hover a {
        color: #535454; }
    .header-links a {
      color: #535454;
      font-size: 16px;
      font-weight: normal;
      position: relative;
      letter-spacing: 0;
      text-decoration: none; }
      .header-links a:after {
        content: "";
        display: block;
        border-bottom: 2px solid #d2a26c;
        width: 0;
        position: absolute;
        left: 0;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; }
      .header-links a:hover {
        color: #535454; }
        .header-links a:hover:after {
          width: 40%; } }
.active-link:after {
  width: 40%; }

.footer-wrapper {
  width: 100%;
  height: 200px;
  background: #fff; }

.footer-display {
  width: 100%;
  height: 100%;
  text-align: center; }
  .footer-display ul {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px; }
  .footer-display li {
    width: auto;
    display: inline-block;
    margin: 0 5px; }
  .footer-display a {
    color: #535454;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.4px; }
    .footer-display a:hover {
      font-weight: bold; }

.footer-copyright {
  width: 95%;
  height: auto;
  margin: 0 auto; }
  .footer-copyright p {
    font-size: 12px;
    padding: 10px 0; }

.index-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  opacity: 0;
  -webkit-transition: all 1200ms ease;
  transition: all 1200ms ease;
  background-attachment: initial; }

@media(min-width: 769px) {
  .index-wrapper {
    background-attachment: fixed; } }
.index-overlay {
  width: 100%;
  height: calc(100% - 100px);
  background: rgba(30, 30, 30, 0.5);
  padding-top: 100px; }

.index-display {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto; }

.greeter-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0; }

@media(min-width: 769px) {}
.greeter {
  color: #e6e7e7;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: bold;
  display: block;
  text-shadow: 0 2px 5px #262626;
  margin: 5px 10px;
  opacity: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease; }
  .greeter.active-greeter {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

@media(min-width: 500px) {
  .greeter {
    font-size: 80px;
    display: block; } }
@media(min-width: 769px) {
  .greeter {
    font-size: 100px; } }
.page-slide-button {
  width: 50px;
  height: 50px;
  text-shadow: 0 2px 5px #262626;
  position: absolute;
  bottom: 15vh;
  left: 7%;
  cursor: pointer; }
  .page-slide-button i {
    color: #e6e7e7;
    font-size: 60px;
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
    position: absolute;
    left: 8px; }
    .page-slide-button i:nth-of-type(1) {
      font-size: 40px;
      top: 0px;
      left: 14px; }
    .page-slide-button i:nth-of-type(2) {
      top: 8px; }

@media(min-width: 820px) {
  .page-slide-button {
    left: 7%; }
    .page-slide-button:hover i:nth-of-type(1) {
      top: 16px; }
    .page-slide-button:hover i:nth-of-type(2) {
      top: 14px; }
    .page-slide-button i {
      font-size: 70px; }
      .page-slide-button i:nth-of-type(1) {
        left: 18px; } }
.about-wrapper {
  width: 100%;
  height: auto; }

.about-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }

@media(min-width: 769px) {
  .about-display {
    padding: 60px 0;
    text-align: left; } }
.about-ncrs-wrapper {
  width: 100%; }

@media(min-width: 769px) {
  .about-ncrs-wrapper {
    width: 60%;
    display: inline-block;
    margin-right: 8%; } }
.about-title {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px; }
  .about-title h2 {
    color: #535454;
    font-size: 28px;
    font-family: "Abel"; }

.about-info {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px; }
  .about-info p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 30px; }

.about-join-button button {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 2px solid #d2a26c;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease; }
  .about-join-button button:hover {
    background: #d2a26c;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
    .about-join-button button:hover a {
      color: #fff; }
  .about-join-button button a {
    color: #d2a26c;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 18px;
    letter-spacing: 1px; }

@media(min-width: 769px) {
  .about-title h2 {
    color: #535454;
    font-size: 28px; }

  .about-info p {
    font-size: 14px; }

  .about-join-button {
    padding-left: 18px; } }
.about-facebook-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 0; }

@media(min-width: 769px) {
  .about-facebook-wrapper {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0; } }
.facebook-header {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 20px; }
  .facebook-header h2 {
    color: #535454;
    font-size: 28px;
    font-family: "Abel"; }
  .facebook-header p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    line-height: 25px;
    padding: 20px 0 0 0; }

.facebook-link {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0 0 0; }
  .facebook-link button {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease; }
    .facebook-link button:hover {
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
      .facebook-link button:hover a {
        color: #fff; }
    .facebook-link button a {
      color: #d2a26c;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 18px;
      letter-spacing: 1px; }

.events-wrapper {
  width: 100%;
  height: 50vh;
  background-image: url("http://ineptechs.com/wp-content/uploads/2014/10/carshow-4.jpg");
  background-size: cover;
  background-position: center; }

.events-display {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px; }

.clear {
  clear: both; }

.photo-one {
  opacity: 1;
  background-image: url("http://assets.blog.hemmings.com/wp-content/uploads//2013/04/DaytonaBeach1957_1500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%; }

.photo-two {
  opacity: 1;
  background-image: url("/imgs/56daytona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%; }

.photo-three {
  opacity: 1;
  background-image: url("/imgs/ncrs-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%; }

.membership-intro-wrapper {
  width: 100%;
  height: auto; }

.membership-intro-display {
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.membership-join-wrapper {
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 40px 0 0 0; }

@media(min-width: 769px) {
  .membership-join-wrapper {
    padding: 80px 0 0 0; } }
.membership-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  padding: 0 0 30px 0; }
  .membership-header h2 {
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    padding: 5px 0;
    letter-spacing: 2px; }
  .membership-header img {
    width: 70%;
    padding: 30px 0; }

@media(min-width: 769px) {
  .membership-header {
    width: 49%;
    vertical-align: top;
    display: inline-block; }
    .membership-header h2:nth-of-type(2) {
      font-size: 35px; }
    .membership-header img {
      width: 50%;
      padding: 30px 0; } }
.membership-info {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 0; }
  .membership-info h2 {
    color: #535454;
    font-family: "Abel";
    padding: 5px 0;
    letter-spacing: 2px; }
  .membership-info ul {
    padding: 15px 0;
    padding-left: 20px; }
  .membership-info li {
    padding: 5px 0 5px 10px; }
  .membership-info p {
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    line-height: 30px; }

@media(min-width: 769px) {
  .membership-info {
    width: 45%;
    display: inline-block;
    border-left: 1px solid #d2a26c;
    padding-left: 30px; } }
.member-button {
  padding: 30px 0;
  text-align: center; }
  .member-button button {
    width: 120px;
    height: 40px;
    color: #d2a26c;
    background: transparent;
    border: 2px solid #d2a26c;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease; }
    .member-button button:hover {
      background: #d2a26c;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }
      .member-button button:hover a {
        color: #fff; }
    .member-button button a {
      color: #d2a26c;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 10px;
      letter-spacing: 1px; }

@media(min-width: 769px) {
  .member-button {
    text-align: left; } }
.border {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #d2a26c; }

.contacts-intro-wrapper {
  width: 100%;
  height: auto; }

.contacts-intro-display {
  width: 98%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center; }
  .contacts-intro-display h2 {
    width: 80%;
    max-width: 769px;
    font-family: "Abel";
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #d2a26c; }
  .contacts-intro-display ul {
    list-style: none;
    padding-top: 30px; }
  .contacts-intro-display li {
    width: 100%;
    float: left;
    text-align: center;
    margin: 30px 0; }
    .contacts-intro-display li h3 {
      color: #535454;
      font-size: 14px;
      font-weight: normal;
      margin: 5px 0; }
      .contacts-intro-display li h3:nth-of-type(1) {
        font-weight: bold;
        font-size: 18px; }
      .contacts-intro-display li h3:nth-of-type(3) {
        color: #d2a26c; }
  .contacts-intro-display figure {
    width: 50%;
    margin: 0 auto; }
    .contacts-intro-display figure img {
      width: 100%;
      box-shadow: 0px 2px 5px #535454; }

@media(min-width: 500px) {
  .contacts-intro-display h2 {
    font-size: 40px;
    padding: 30px 0; }
  .contacts-intro-display li {
    width: 50%; } }
@media(min-width: 1000px) {
  .contacts-intro-display li {
    width: 33.33%; } }
.about-intro-wrapper {
  width: 100%;
  height: 100vh; }

.about-intro-display {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 100px; }

@media(min-width: 820px) {
  .about-intro-display {
    width: 90%; } }
.about-intro-container {
  width: 100%;
  height: auto;
  padding-top: 400px;
  position: relative; }

@media(min-width: 820px) {
  .about-intro-container {
    width: 100%;
    height: auto;
    padding-top: 200px;
    position: relative; } }
.about-intro-header {
  width: 100%;
  height: auto;
  background: #fff;
  margin-right: 50%;
  padding: 35px 0;
  text-align: center;
  z-index: 5; }
  .about-intro-header h2 {
    width: 95%;
    color: #535454;
    font-size: 25px;
    font-family: "Abel";
    margin: 0 auto;
    letter-spacing: 1px; }
  .about-intro-header h3 {
    width: 95%;
    max-width: 350px;
    margin: 0 auto;
    color: rgba(40, 26, 23, 0.6);
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 25px 0;
    position: relative; }
    .about-intro-header h3:after {
      content: "";
      display: block;
      border-bottom: 3px solid #d2a26c;
      width: 20px;
      padding-top: 15px;
      position: absolute;
      left: calc(50% - 10px); }
  .about-intro-header p {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    color: rgba(40, 26, 23, 0.6);
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 35px; }

@media(min-width: 820px) {
  .about-intro-header {
    width: 50%;
    height: auto;
    background: #fff;
    margin-right: 50%;
    padding: 35px 0;
    border: 1px solid #d2a26c;
    text-align: center;
    z-index: 5; }
    .about-intro-header h2 {
      width: 95%;
      color: #535454;
      font-size: 25px;
      font-family: "Abel";
      margin: 0 auto;
      letter-spacing: 1px; }
    .about-intro-header h3 {
      width: 95%;
      max-width: 350px;
      margin: 0 auto;
      color: rgba(40, 26, 23, 0.6);
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 25px 0;
      position: relative; }
      .about-intro-header h3:after {
        content: "";
        display: block;
        border-bottom: 3px solid #d2a26c;
        width: 20px;
        padding-top: 15px;
        position: absolute;
        left: calc(50% - 10px); }
    .about-intro-header p {
      width: 95%;
      margin: 0 auto;
      padding: 20px 0;
      color: rgba(40, 26, 23, 0.6);
      font-size: 14px;
      letter-spacing: 0.4px;
      line-height: 35px; } }
.about-banner-images {
  width: 95%;
  height: 400px;
  max-width: 1080px;
  background-image: url("/imgs/56daytona.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1; }
  .about-banner-images img {
    width: 100%; }
