// COLORS

$dark-text: #535454
$richer-text: #262626
$text-color: rgba(40,26,23,.6)
$light-text-color: rgba(40,26,23,.6)
$fade-text-color: rgba(40,26,23,.4)
$off-white: #e6e7e7
$gold: #d2a26c
$back-white: rgba(255, 255, 255, 0.95)

// Transition
$fast-trans: all 350ms ease-in-out
$mid-trans: all 450ms ease-in-out
$long-trans: all 1000ms ease-in-out
$longer-trans: all 1200ms ease-in-out
$member-trans: all 1200ms cubic-bezier(0.22, 0.61, 0.46, 1.2)

// letter spacing

$letter-space-opt-1: 0.5px
$letter-space-opt-2: 1px
$letter-space-opt-3: 2px
