// COLORS

$dark-text: #262626
$text-color: rgba(40,26,23,.6)
$light-text-color: rgba(40,26,23,.6)
$off-white: #e6e7e7
$gold: #d2a26c

// Transition
$fast-trans: all 350ms ease
$mid-trans: all 450ms ease
$long-trans: all 1000ms ease
