include ../partials/header


section.membership-intro-wrapper
  div.membership-intro-display
    div.membership-join-wrapper
      div.membership-header
        h2 JOIN NCRS
        h2 Florida Chapter
        img(src="http://northcentralncrs.com/wp-content/uploads/2013/01/ncrs_300.png")
      div.membership-info
        h2 Benfits
        ul
          li Quarterly Newsletter
          li Discounts on NCRS shows
          li And an all-round good vette feeling!!!
        p Florida Chapter NCRS Dues: $10 per year and run from January through December. You must be a member of National before you join the Florida Chapter. Please make your check payable to the Florida Chapter, NCRS, Inc.
        div.member-button
          button: a(href="http://www.ncrsfl.org/Membership.pdf") APPLICATION


    div.membership-join-wrapper
      div.membership-header
        h2 JOIN
        h2 National NCRS
        img(src="http://northcentralncrs.com/wp-content/uploads/2013/01/ncrs_300.png")
      div.membership-info
        h2 Benfits
        ul
          li Quarterly Magazine
          li Quarterly Newsletter
          li Discounts on NCRS shows
          li And an all-round great vette feeling!!!
        p NCRS Dues: $35 per year in the United States * $42 per year in Canada * $60 per year Overseas Foreign($16 of which covers the subscription price to the magazine).
        div.member-button
          button: a(href="http://www.ncrs.org/") JOIN NOW


include ../partials/footer
