include ../partials/header

article#article(data-title="about")

section.about-intro-wrapper
  div.about-intro-display
    h2 ABOUT US


section.about-extended-wrapper
  div.about-extended-display
    div.about-left-col
      ul
        h3 About
        li.active-li NCRS
        li MAGAZINE
        li NEWS LETTER
        li NCRS JUDGING
        li NATIONWIDE EVENTS
    div.about-right-col
      h2 National Corvette Restorers Society
      p Formed in 1974, the National Corvette Restorers Society is a non-profit hobby group of 14,000 + families dedicated to the restoration, preservation, history and enjoyment of Corvettes made from the model years 1953 through 1999.
    div.about-right-restorer
      h2 The Corvette Restorer
      h3 ""Absolutely the finest automobile 'club' publication in existence... Even if you don't like stock 'original-type' cars, and will never attend an NCRS function, the magazine by itself is worth the price of dues."
      p Old Cars Weekly has honored The Corvette Restorer with ten Golden Quill awards. Members use the magazine's 60-plus pages to learn and share historical, restoration, and technical material. No ads ever. Best of all, you can benefit from over twenty years of amassed knowledge because members can get copies of any article that we've ever printed.
    div.about-right-news
      h2 The Driveline Newsletter
      p Our bimonthly Driveline newsletter is the perfect companion publication to the magazine. Members receive a free 50-word ad in each issue- and hundreds use this space to buy, sell, or trade Corvettes and parts. You will find more 1953-82 items here than anywhere else. The Driveline is also used to keep members updated on NCRS Chapter events, Regional meets, the National Convention and other hobby news. As a special members-only service, the NCRS sells Corvette books and literature at far below retail prices through the Driveline.
    div.about-right-judge
      h2 NCRS Judging
      p The NCRS has compiled and is constantly updating highly detailed judging standards and rules for each basic model division from 1953 through 1999. The guidelines in these NCRS Judging Manuals are recognized throughout the hobby as THE STANDARD in determining originality. The judging system is designed to educate each owner about their car as well as providing recognition for excellence in the areas of restoration, performance, or preservation. It is not a "cleanliness contest" like other events, nor do you compete against your friends' Corvettes. Judging is not done by some secret group of "experts". You can learn to judge, or you can have your Corvette evaluated by other NCRS members. Over 2,000 members are currently recognized for their judging expertise. Last year, these members judged 856 Corvettes at NCRS events nationwide.
    div.about-right-events
      h2 Nationwide Events
      p The NCRS sponsors one National Convention, eight Regional Meets, and dozens of chapter meets every year. These family oriented events occur year-round across the country. They feature NCRS Concourse Judging, displays of rare Corvettes, social gatherings, Corvette road tours, parts and literature swaps, technical sessions, plant tours, seminars, special guest speakers, and much more. Our meets have featured such Corvette notables as Zora Arkus-Duntov and his wife Elfie, Larry Shinoda, Dave McLellan, Noland Adams, Dr. Dick Thompson, Dick Guldstrand, Bob Clift, Reeves Callaway, and many others.


    div.clear

div.border


include ../partials/footer
