include ../partials/header

section.about-intro-wrapper
  div.about-intro-display
    div.about-intro-container
      div.about-intro-header
        h2 National Corvette Restorers Society
        h3 "Ignorance is not bliss-it can be really expensive!" 
        p The seller is telling you "the numbers match"- do you know what they mean? Are they truthful? Join the NCRS and learn from all of the information we have gathered in the last 20 years to make a wise decision when you purchase your Corvette.
      div.about-banner-images

include ../partials/footer
