include ../partials/header

section.about-intro-wrapper
  div.about-intro-display
    div.about-intro-header
      h2 About
      h2 National Corvette Restorers Society
    div.about-banner-images
      img(src="/imgs/56daytona.jpg")

include ../partials/footer
