include ../partials/header

section.about-intro-wrapper
  div.about-intro-display
    h2 ABOUT US


section.about-extended-wrapper
  div.about-extended-display
    div.about-left-col

      ul
        h3 About
        li WHAT WE DO
        li HELP
        li MAGAZINE
        li NEWS LETTER
    div.about-right-col
      h2 National Corvette Restorers Society
      p Formed in 1974, the National Corvette Restorers Society is a non-profit hobby group of 14,000 + families dedicated to the restoration, preservation, history and enjoyment of Corvettes made from the model years 1953 through 1982.
    div.about-right-news
      h2 The Corvette Restorer
      h3 ""Absolutely the finest automobile 'club' publication in existence... Even if you don't like stock 'original-type' cars, and will never attend an NCRS function, the magazine by itself is worth the price of dues."
      p Old Cars Weekly has honored The Corvette Restorer with ten Golden Quill awards. Members use the magazine's 60-plus pages to learn and share historical, restoration, and technical material. No ads ever. Best of all, you can benefit from over twenty years of amassed knowledge because members can get copies of any article that we've ever printed.

div.clear

div.border


include ../partials/footer
