include ../partials/header

section.contacts-intro-wrapper
  div.contacts-intro-display
    h2 Florida Chapter Members
    ul
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Ed Augustine
        h3 NCRS Florida Chapter Chairman
        h3 augustineed@msn.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Joel Stieglitz
        h3 NCRS Florida Chapter Co-Judging Chairman
        h3 Joelbbvette@hotmail.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Laureen Ramsey
        h3 NCRS Florida Chapter Co-Judging Chairman
        h3 cramsey@cfl.rr.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Tyler Townsley
        h3 NCRS Florida Chapter Event Coordinator
        h3 Ttownsley@sprynet.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Ed Nieves
        h3 NCRS Florida Chapter Newsletter
        h3 nieves_1@bellsouth.net
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Keith Geel
        h3 NCRS Florida Chapter Web
        h3 Info@NCRSFL.org

    div.clear

include ../partials/footer
