include ../partials/header

article#article(data-title="contacts")

section.contacts-intro-wrapper
  div.contacts-intro-display
    h2 Florida Chapter Contacts
    ul
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Ed Augustine
        h3 NCRS Florida Chapter Chairman
        h3 augustineed@msn.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 John P. Bucheister Jr
        h3 NCRS Florida Chapter Judging Chairman
        h3 jpbuch@qis.net
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Marco Hartner
        h3 NCRS Florida Chapter Vice Chairman
        h3 midyearfactory@icloud.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Tyler Townsley
        h3 NCRS Florida Chapter Event Coordinator
        h3 Ttownsley@sprynet.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Ed Nieves
        h3 NCRS Florida Chapter Newsletter
        h3 nieves_1@bellsouth.net
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Keith Geel
        h3 NCRS Florida Chapter Web
        h3 Info@NCRSFL.org
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Paul Schwack
        h3 NCRS Florida Chapter Judging Administrator
        h3 pschwack@outlook.com

    div.clear

include ../partials/footer
