include ../partials/header

article#article(data-title="contacts")

section.contacts-intro-wrapper
  div.contacts-intro-display
    h2 Florida Chapter Contacts
    ul
      li
        figure
          img(src="/imgs/ed-augustine.jpg")
        h3 Ed Augustine
        h3 NCRS Florida Chapter Chairman
        a(href="mailto:augustineed@msn.com") augustineed@msn.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 John P. Bucheister Jr
        h3 NCRS Florida Chapter Judging Chairman
        a(href="mailto:jpbuch@qis.net") jpbuch@qis.net
      li
        figure
          img(src="/imgs/marco-hartner.jpg")
        h3 Marco Hartner
        h3 NCRS Florida Chapter Vice Chairman
        a(href="mailto:midyearfactory@icloud.com") midyearfactory@icloud.com
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Tyler Townsley
        h3 NCRS Florida Chapter Event Coordinator
        a(href="mailto:Ttownsley@sprynet.com") Ttownsley@sprynet.com
      li
        figure
          img(src="/imgs/ed-nieves.jpg")
        h3 Ed Nieves
        h3 NCRS Florida Chapter Newsletter
        a(href="mailto:nieves_1@bellsouth.net") nieves_1@bellsouth.net
      li
        figure
          img(src="http://www.liveyou.it/Layout/HTML/assets/images/anonymous.png")
        h3 Keith Geel
        h3 NCRS Florida Chapter Web
        a(href="mailto: Info@NCRSFL.org") Info@NCRSFL.org
      li
        figure
          img(src="/imgs/paul.jpg")
        h3 Paul Schwack
        h3 NCRS Florida Chapter Judging Administrator
        a(href="mailto:pschwack@outlook.com") pschwack@outlook.com

    div.clear

include ../partials/footer
