include ../partials/header

article#article(data-title="future")

section.future-intro-wrapper
  div.future-intro-display
    div.future-wrapper
      div.future-header
        div.future-slide-container
          h2 Florida Chapter
          h2 Howey in the Hills
          img(src="https://scontent.ftpa1-1.fna.fbcdn.net/t31.0-8/12265801_517278945111970_7143697691680147262_o.jpg")

      div.future-info-wrapper
        div.future-info-display
          h2 Events Info
          ul
            li: h3 November 19, 2016
            li: h3 Hotel Information
            ul
              div.hotel: h5 Hilton Garden Inn
                h4 1-800-874-9053
                h4 $145.00/night
                h4 Release Date: October 15th

          div.future-button
            h2 Registration Options Below
            a(href="https://www.ncrs.org/forums/register/event-subscription.php") Online Registration
            a(href="/files/2016-Howey-in-Hills-Application.pdf") Event Flyer

    div.border


section.future-intro-wrapper
  div.future-intro-display
    div.future-wrapper
      div.future-header
        div.future-slide-container
          h2 Florida Chapter
          h2 Sun N Fun Regional
          img(src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-9/12647293_540074226165775_4822779938507388677_n.jpg?oh=36f1e4c762a37ddf85b1cb16ab8df504&oe=5826D225")

      div.future-info-wrapper
        div.future-info-display
          h2 Events Info
          ul
            li: h3 January 11, 2017
            li: h3 Hotel Information
            ul
              div.hotel: h5 Hilton Garden Inn
                h4 1-863-647-0066
                h4 3839 Don Emerson Drive
                h4 Lakeland, Fl 33811
              div.hotel: h5 Fairfield Inn
                h4 1-813-757-6202
                h4 4307 Sterling Commerce Dr.
                h4 Plant City, Fl 33566

          div.future-button
            h2 Registration Options Below
            a(href="https://www.ncrs.org/forums/register/event-subscription.php") Online Registration
            a(href="/files/Reg-2017-Driveline-edition.pdf") Event Flyer

    div.border

include ../partials/footer
