include ../partials/header

article#article(data-title="future")

section.future-intro-wrapper
  div.future-intro-display
    div.future-wrapper
      div.future-header
        div.future-slide-container
          h2 Florida Chapter
          h2 Howey in the Hills
          img(src="https://scontent.xx.fbcdn.net/v/t1.0-1/c26.0.160.160/p160x160/11698580_470725333100665_6182573978788032110_n.jpg?oh=346f792175dbd0f5390168ad9ad6ce81&oe=585E471A")
      div.future-info
        h2 Events Info
        ul
          li November 19, 2016
          li Hotel Information
            p 1-800-874-9053
            p $145.00/night
            p Release Date: October 15th
        p Registration Options Below
        div.future-button
          a(href="https://www.ncrs.org/forums/register/event-subscription.php") Online Registration
          a(href="/files/2016-Howey-in-Hills-Application.pdf") Event Flyer

    div.border

include ../partials/footer
